--- 

- name: Install Xorg
  become: yes
  pacman:
    name: "{{ xorg_packages }}"
    state: present

- name: setup xinit
  block:
    - name: setup .xinitrc
      file:
        path: "/home/{{ username }}"
        group: "{{ username }}"
        mode: 0755
        owner: "{{ username }}"
        state: touch
    - name: setup .zprofile
      blockinfile:
        path: "/home/{{ username }}/.zprofile"
        block: |
          if [ -z "${DISPLAY}" ] && [ "${XDG_VTNR}" -eq 1 ]; then
            exec startx
          fi
        state: present

- name: xinput group
  become: yes
  user:
    name: "{{ username }}"
    state: present
    append: yes
    groups:
      - input
      - video

- name: create xprofile
  file:
    path: /home/{{ username }}/.xprofile
    state: touch
    mode: 0755
    group: "{{ username }}"
    owner: "{{ username }}"
