---

  - name: install gtk, icon and cursor theme
    become: yes
    pacman:
      name:
        - breeze-gtk
        - papirus-icon-theme
        - capitaine-cursors

  - name: apply themes
    block:
      - name: gtk3
        copy:
          src: gtk-3.0
          dest: /home/{{ username }}/.config
          mode: 0755
          owner: "{{ username }}"
          group: "{{ username }}"
      - name: gtk2
        copy:
          src: .gtkrc-2.0
          dest: /home/{{ username }}
          mode: 0755
          owner: "{{ username }}"
          group: "{{ username }}"
      - name: cursor
        copy:
          src: default
          dest: /home/{{ username }}/.icons
          mode: 0755
          owner: "{{ username }}"
          group: "{{ username }}"
