---

- name: install polybar
  become: yes
  become_user: aur_builder
  kewlfft.aur.aur:
    name: polybar-git
    use: yay
    state: present

- name: template in files
  copy:
    src: polybar
    dest: /home/{{ username }}/.config 
    mode: 0755
    group: "{{ username }}"
    owner: "{{ username }}"

- name: enable polybar
  block:
    - name: open
      lineinfile:
        path: /home/{{ username }}/.config/bspwm/bspwmrc
        line: 'polybar &'
        insertafter: '^#(OPEN)'
        state: present
    - name: kill
      lineinfile:
        path: /home/{{ username }}/.config/bspwm/bspwmrc
        line: 'killall -q polybar'
        insertafter: '^#(KILL)'
        state: present
